.fondo-personalizado {
    background-color: #212121; /* Cambia este color según tus preferencias */
    color: rgb(245, 245, 245);   
}

.fondo-item {
    background-color: #5a5464; /* Color de fondo de la lista */
    color: white;
}
.fondo-item a {
    color: #ff8f8f;            /* Cambia el color del enlace */
}
.fondo-formulario {
    background-color: #9b9b9b; /* Color de fondo del formulario */
    color: white;
}	
.bg-fondoTexto {
    background-color: #463e53; /* Color de fondo del texto */
    color: white;
}
h1 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 6em ;
  }
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 3em ;
  }
  